/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
/* div{
    border: 1px solid red;
} */

#pianoBorder {
    max-width: 54rem;
    height: 15rem;
    background: #afa9a9;
}

.keyBlack {

    width: 1rem;
    height: 6rem;
    background: rgb(0, 0, 0);

}



.keyWhite {

    width: 2rem;
    height: 10rem;
    background: rgb(255, 255, 255);
    border: 1px solid black;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}

.bord{
    border-bottom: 2px solid black;
    border-left: 20px solid black;
    border-right: 20px solid black;
    border-top: 5px solid black;
}
